<p>character-editor works</p>
<div class="character-edit">
<div class="character-edit-grid">
<div class="name-cell">
  <table class="cut"><tbody>
    <tr><td><edit-name /></td></tr>
    <tr><td><edit-tnk /></td></tr>
    <tr><td><edit-profession /></td></tr>
    <tr><td><edit-adjectives /></td></tr>
  </tbody></table>
</div>
<div class="logo-cell"><img src="/assets/logo.png" alt="Swords of the Serpentine"></div>
<div class="portrait-cell">
  <table><tbody><tr><td>
    <edit-portrait />
  </td></tr></tbody></table>
</div>
<div class="drives-cell">
  <table><tbody><tr><td>
    <edit-drives />
  </td></tr></tbody></table>
</div>
<div class="investigative-title">
  <h4>Investigative Abilities</h4>
</div>
<div class="social-cell">
  <edit-social />
</div>
<div class="sentinel-cell">
  <edit-sentinel />
</div>
<div class="sorcerer-cell">
  <edit-sorcerer />
</div>
<div class="thief-cell">
  <edit-thief />
</div>
<div class="warrior-cell">
  <edit-warrior />
</div>
<div class="general-title">
  <h4>General Abilities</h4>
</div>
<div class="allegiances-title">
  <h4>Allegiances</h4>
</div>
<div class="general-cell">
  <edit-general />
</div>
<div class="allegiances-cell">
  <edit-allegiances />
</div>
<div class="wealth-cell">
  <edit-wealth />
</div>
<div class="stamina-cell">
  <edit-stamina />
</div>
<div class="gear-title">
  <h4>Gear</h4>
</div>
<div class="spheres-title">
  <h4>Sorcerous Spheres</h4>
</div>
<div class="gear-cell">
  <edit-gear />
</div>
<div class="spheres-cell">
  <edit-spheres />
</div>
</div>
</div>
