/* reset per https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* end reset */

@mainFgColor: #6c1f17;
@mainBgColor: #e8dbce;
@outsideBorder: 2px solid @mainFgColor;
@insideBorder: 1px solid @mainFgColor;

body {
	font-family: Galliard;
  font-size: 15px;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}*/

.ability {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.general-ability {
  margin-left: .5em;
}
.ability-value {
  display: flex;
  column-gap: 3px;
  position: relative;
  top: 3px;
}
.ability-value input:first-child {
  display: none;
}
.ability.combat .ability-name {
  width: 100%;
  background: url(/assets/swords.svg) right no-repeat;
}
.talent-name {
  position: relative;
  top: 2px;
  margin: 0 auto;
  text-align: center;
  font: .5em / 1.8 sans-serif;
  color: black;
}
.talent-name.locked {
  color: gray;
}

.input {
  display: flex;
  column-gap: .25em;
}
.input>* {
  flex-shrink: 0;
}
.input>input[type="text"] {
  width: 100%;
  flex-shrink: 1;
}

.circle {
  height: 14px;
  width: 14px;
  /*padding-top: 1.4px;
  padding-right: .5px;*/
  text-align: center;
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="6.5" stroke-width="1" fill="none" stroke="%236c1f17" /></svg>');
  font: .5em / 1.85em sans-serif;
  color: black;
  user-select: none;
}
.circle.filled, .circle.talent.filled {
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="6.5" stroke-width="1" fill="%236c1f17" stroke="%236c1f17" /></svg>');
}
.circle.red {
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="6.5" stroke-width="1" fill="none" stroke="firebrick" /></svg>');
}
.circle.talent {
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="6.5" stroke-width="1.5" fill="none" stroke="firebrick" /></svg>');
}
.circle.green {
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="6.5" stroke-width="1" fill="none" stroke="olivedrab" /></svg>');
}
.circle>div {
  height: 100%;
  width: 100%;
}

.character-edit {
  max-width: 52.75em;
  margin: 0 auto;
}

.character-edit-grid {
  display: grid;
  grid-template-columns: [left] 4fr [three] 3fr [two] 1fr [three] 4fr [right];
  gap: .25em;
}

.subgrid {
  display: contents;
}

.message {
  padding-left: 1.2em;
  font-size: 12px;
}
.message .incomplete {
  color: olivedrab;
}

.character-sheet {
  padding: 1.5em 3.3em;
  background-color: @mainBgColor;
  color: @mainFgColor;
}

.character-sheet .panel {
  border: @outsideBorder;
  background-color: white;
  vertical-align: top;
}
.character-sheet .panel>* {
  padding: 0 .5em .25em;
}

.character-edit button {
  position: relative;
  top: 1px;
  height: 22px;
  width: 22px;
  border: 1px solid black;
  border-radius: 4px;
  font: bold  18px / 18px sans-serif;
  background-color: black;
  color: white;
}
.character-edit button.del {
  border-color: firebrick;
  background-color: firebrick;
}
.character-edit div.add button {
  display: block;
  width: 32px;
  margin: .75px auto;
  border-color: green;
  background-color: green;
}
.character-edit div.add.add-full button {
  display: none;
}

.character-edit input[type="text"] {
  font-size: 12px;
}

.character-edit input[type="text"].large {
  font-size: 15px;
}

.character-edit input[type="number"] {
  width: 6em;
}

.character-edit h4 {
  padding: .2em 0;
  text-align: center;
  font-size: .84em;
  font-weight: normal;
  text-transform: uppercase;
  background-color: @mainFgColor;
  color: @mainBgColor;
}

.character-edit h5 {
  font-size: 1.2em;
  font-weight: normal;
  font-family: Joyeuse;
}

.character-edit .title1 {
  grid-column: left / right;
  padding-top: .25em;
}

.character-edit .title2 {
  grid-column: left / two;
  padding-top: .25em;
}

.character-edit .title3 {
  grid-column: two / right;
  padding-top: .25em;
}

.character-edit section.config {
  padding: 1.5em 3.3em;
  grid-column: left / right;
  background-color: white;
  color: black;
  font-family: sans-serif;
}
.character-edit section.config>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}
.character-edit section.config input[type="number"] {
  width: 4em;
}

.character-edit .name-panel {
  grid-column: left / three 1;
  grid-row-end: span 2;
  margin-top: 1.6em;
  margin-right: 1.5em;
}

.character-edit .name-panel>div {
  border-bottom: @insideBorder;
}
.character-edit .name-panel>div:last-child {
  border-bottom: none;
}

.character-edit .logo {
  grid-column: three 1 / three 2;
  height: 110px;
}

.logo img {
  margin: 0 auto;
  width: 200px;
  height: 110px;
}

.character-edit .portrait-panel {
  grid-column: three 2 / right;
  grid-row-end: span 2;
  margin-top: 1.6em;
  margin-left: 1.5em;
}

.character-edit .drives-panel {
  grid-column: three 1 / three 2;
}


.character-edit .social-panel {
  grid-column: left / three 1;
  grid-row-end: span 2;
}

.character-edit .sentinel-panel {
  grid-column: three 1 / three 2;
}

.character-edit .sorcerer-panel {
  grid-column: three 2 / right;
}

.character-edit .thief-panel {
  grid-column: three 1 / three 2;
}

.character-edit .warrior-panel {
  grid-column: three 2 / right;
}

.character-edit .general-panel {
  grid-column: left / two;
  grid-row-end: span 2;
  padding-top: .32em;
}

.character-edit .allegiances-panel {
  grid-column: two / right;
  padding-top: .5em;
}

.character-edit .wealth-panel {
  grid-column: two / right;
  border-top-width: .95em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.character-edit .wealth-panel .lifestyle {
  display: flex;
  justify-content: space-between;
}

.character-edit .stamina-section {
  grid-column: left / right;
  display: flex;
  gap: .25em;
}
.character-edit .stamina-section .panel {
  width: 100%;
  flex-shrink: 1;
  border-top-width: .5em;
}
.character-edit .stamina-section>.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: space-between;
}
.character-edit .stamina-section .table {
  display: grid;
  grid-template-columns: 3.5em 3.5em;
  grid-template-rows: .8em 1.8em 1.8em .8em;
  text-align: center;
}
.character-edit .stamina-section .table .label {
  font-weight: inherit;
  vertical-align: middle;
  font: .5em / 1.7em sans-serif;
  color: black;
}
.character-edit .stamina-section .table .value {
  border: solid @mainFgColor;
  background-color: white;
}
.character-edit .stamina-section .table input {
  height: 100%;
  width: 80%;
}
.character-edit .stamina-section .table>:nth-child(3) {
  border-top-left-radius: 10px;
  border-width: 2px 1px 1px 2px;
}
.character-edit .stamina-section .table>:nth-child(4) {
  border-top-right-radius: 10px;
  border-width: 2px 2px 1px 1px;
}
.character-edit .stamina-section .table>:nth-child(5) {
  border-bottom-left-radius: 10px;
  border-width: 1px 1px 2px 2px;
}
.character-edit .stamina-section .table>:nth-child(6) {
  border-bottom-right-radius: 10px;
  border-width: 1px 2px 2px 1px;
}

.character-edit .gear-panel {
  grid-column: left / two;
  padding-top: .5em;
}

.character-edit .spheres-panel {
  grid-column: two / right;
}
.character-edit .spheres-panel div.label-tiny {
  margin: 0 auto;
}
.character-edit .spheres-panel input[type="text"] {
  width: 100%;
}

.head {
  text-align: center;
}

.label {
  font-weight: bold;
}

.note {
  font-size: .6em;
  color: black;
}

.label-tiny {
  font: .6em / 1.25em sans-serif;
  color: black;
}

.label-tiny input[type='radio'] {
  appearance: none;
  height: 6px;
  width: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke-width="1" fill="none" stroke="black" /></svg>');
  margin: 0;
  font: inherit;
  width: 6px;
  height: 6px;
}

.label-tiny input[type='radio']:checked {
  background-image: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke-width="1" fill="black" stroke="black" /></svg>');
}

/*.ability .label-tiny {
  position: relative;
  top: 1px;
}*/

.tiny {
  font-size: .45em;
  font-family: sans-serif;
  color: black;
}

@font-face {
  font-family: Galliard;
  src: url(/assets/Galliard_Roman.otf);
}

/*@font-face {
  font-family: Galliard;
  font-weight: bold;
  font-style: italic;
  src: url(/assets/Galliard_BoldItalic.ttf);
}*/

@font-face {
  font-family: Joyeuse;
  src: url(/assets/JO______.TTF);
}
