@import url(reset.less);

@mainFgColor: #6c1f17;
@mainBgColor: #e8dbce;
@pageBgUrl: url(assets/page-bg.webp);
@pageBgColor: #e0d5c5;
@outsideBorder: 2px solid @mainFgColor;
@insideBorder: 1px solid @mainFgColor;

body {
	font-family: Galliard;
  font-size: 15px;
  background-color: black;
  color: white;
}
@media only print {
  body {
    background-color: white;
    color: black;
  }
}


dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 20em;
  padding: 4px;
  text-align: center;
}
dialog.warn {
  border: 2px solid firebrick;
  border-radius: 7px;
  background-color: #333;
  color: lightgray;
}
dialog.warn button {
  border: 2px solid firebrick;
  /*border-radius: 4;*/
  background-color: black;
  color: lightgray;
}
dialog.warn button.confirm {
  border-color: black;
  background-color: firebrick;
}
dialog .close {
  /*position: fixed;
  top: 0;
  right: 0;*/
  height: 30px;
  text-align: right;
}
dialog .content {
  margin: 0 30px 15px;
}
dialog .content>div {
  margin-bottom: 15px;
}
dialog .content>div:last-child {
  margin-bottom: 0;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-panel-wrap {
  display: flex;
  flex-direction: column;
}
.flex-panel-wrap>* {
  width: 100%;
  flex-shrink: 0;
}
.flex-panel-wrap>.panel {
  height: 100%;
  flex-shrink: 1;
}

.faux-grid-above {
  margin-bottom: .25em;
}

.faux-grid-below {
  margin-top: .25em;
}

/*.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}*/

.head {
  text-align: center;
}

.label {
  font-weight: bold;
}

.note {
  font-size: .6em;
  color: black;
}

.center {
  text-align: center;
}

.check {
  color: blue;
}
.mode-print.print-bw .check {
  color: black;
}

.label-tiny {
  font: .6em / 1.25em sans-serif;
  color: black;
}

.label-tiny input[type='radio'] {
  appearance: none;
  height: 6px;
  width: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke-width="1" fill="none" stroke="black" /></svg>');
  margin: 0;
  font: inherit;
  width: 6px;
  height: 6px;
}

.label-tiny input[type='radio']:checked {
  background-image: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke-width="1" fill="black" stroke="black" /></svg>');
}

.label-tiny>div:first-child:last-child {
  margin-top: .625em;
}

.tiny {
  font-size: .45em;
  font-family: sans-serif;
  color: black;
}

.ability {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.general-ability {
  margin-left: .5em;
}
.combat-bg(@color: '%23575877') {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 80 100"><path fill="@{color}" d="m12.9 71.4-5.3-5.3 11.7-11.7 1.4 1.4-10.3 10.3 2.5 2.5 10.3-10.3 1.4 1.4z"/><path fill="@{color}" d="M29 61.6c-1.7 0-3.4-.7-4.6-1.9l-5.1-5.1a6.6 6.6 0 0 1 0-9.2l.7-.7L34.3 59l-.7.7a6.4 6.4 0 0 1-4.6 1.9zm-8.9-14a4.5 4.5 0 0 0 .6 5.6l5.1 5.1c.8.8 2 1.3 3.2 1.3a4 4 0 0 0 2.4-.7L20.1 47.6zM12.3 74.8c-.8 0-1.5-.3-2-.8l-5.2-5.2c-.5-.5-.8-1.2-.8-2a2.8 2.8 0 0 1 4.8-2l5.2 5.2a2.8 2.8 0 0 1-2 4.8zm-5.2-8.9-.6.2c-.2.2-.2.4-.2.6l.2.6 5.2 5.2c.3.3.9.3 1.2 0 .3-.3.3-.8 0-1.2l-5.2-5.2-.6-.2z"/><path fill="@{color}" d="m31.7 58.7-1.4-1.4L70 17.6V9h-7.6L23.3 49.4 21.9 48 61.6 7H72v11.4z"/><path fill="@{color}" d="m64.3 13.3 1.4 1.4-36 37-1.4-1.4zM13 61h2v7.5h-2zM17 57h2v7.5h-2zM68.4 71.4 56.7 59.7l1.4-1.4 10.3 10.3 2.4-2.5-10.3-10.3 1.4-1.4 11.7 11.7z"/><path fill="@{color}" d="M52.2 61.6c-1.7 0-3.4-.7-4.6-1.9l-.7-.7 14.3-14.3.7.7a6.6 6.6 0 0 1 0 9.2l-5.1 5.1a6.6 6.6 0 0 1-4.6 1.9zm-2.4-2.7c.7.4 1.5.7 2.4.7 1.2 0 2.3-.5 3.2-1.3l5.1-5.1a4.5 4.5 0 0 0 .6-5.6L49.8 58.9zM68.9 74.8a2.8 2.8 0 0 1-2-4.8l5.2-5.2a2.8 2.8 0 0 1 4.8 2c0 .8-.3 1.5-.8 2L70.9 74c-.5.5-1.2.8-2 .8zm5.3-8.9-.6.2-5.2 5.2c-.3.3-.3.8 0 1.2.3.3.9.3 1.2 0l5.2-5.2c.2-.2.2-.4.2-.6l-.2-.6-.6-.2z"/><path fill="@{color}" d="m41.3 47.8 9.4 9.5-1.4 1.4-9.5-9.5zM30.6 39.9 9 18.4V7h10.7l21.4 22.1-1.4 1.4L18.8 9H11v8.6l21 20.9zM50.5 38.8l8.9 9.2-1.5 1.4-8.9-9.2z"/><path fill="@{color}" d="m17 13.3 19.5 20.2-1.4 1.4-19.6-20.2zM46 43.2l7 7.1-1.4 1.4-7-7.2zM66 61h2v7.5h-2zM62 57h2v7.5h-2z"/></svg>') right no-repeat;
}
.ability.combat .ability-name {
  width: 100%;
  .combat-bg();
}
.ability.combat.disabled .ability-name, .mode-print.print-bw .ability.combat.disabled .ability-name {
  .combat-bg('%23c0c0c0');
}
.mode-print.print-bw .ability.combat .ability-name {
  .combat-bg('%235a5a5a');
}
.ability-value {
  display: flex;
  column-gap: 3px;
  position: relative;
  top: 3px;
}
.ability-value input:first-child {
  display: none;
}
.talent-name {
  position: relative;
  top: 2px;
  margin: 0 auto;
  text-align: center;
  font: .5em / 1.8 sans-serif;
  color: black;
}
.talent-name.disabled, .disabled .talent-name {
  color: silver;
}

.input {
  display: flex;
  align-items: center;
  column-gap: .25em;
}
.input>* {
  flex-shrink: 0;
}
.input>input[type="text"] {
  width: 100%;
  flex-shrink: 1;
}
.input>.value {
  width: 100%;
  flex-shrink: 1;
  padding: 3px 4px;
}
.value.red {
  color: firebrick;
}

.circle-bg(@bgColor: none, @fgColor: '%236c1f17', @lineWidth: 1) {
  background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"><circle cx="7" cy="7" r="6.5" stroke-width="@{lineWidth}" fill="@{bgColor}" stroke="@{fgColor}" /></svg>');
}
.circle {
  height: 14px;
  width: 14px;
  text-align: center;
  font: .5em / 1.85em sans-serif;
  user-select: none;
  .circle-bg();
  color: black;
}
.mode-print.print-bw .circle, .mode-print.print-bw .circle.red, .mode-print.print-bw .circle.orange, .mode-print.print-bw .circle.green {
  .circle-bg(none, black);
}
.circle>div {
  height: 100%;
  width: 100%;
}
.circle.filled, .circle.talent.filled {
  color: white;
  .circle-bg('%236c1f17');
}
.circle.red {
  .circle-bg(none, firebrick);
}
.circle.red.filled {
  .circle-bg(firebrick, firebrick);
}
.disabled .circle {
  .circle-bg(none, '%23c0c0c0');
}
.circle.talent {
  .circle-bg(none, firebrick, 1.5);
}
.disabled .circle.talent {
  .circle-bg(none, '%23c0c0c0', 1.5);
}
.circle.orange {
  .circle-bg(none, '%23ce551c');
}
.circle.orange.filled {
  .circle-bg('%23ce551c', '%23ce551c');
}
.circle.yellow {
  .circle-bg(none, '%23e98815');
}
.circle.yellow.filled {
  .circle-bg('%23e98815', '%23e98815');
}
.circle.green {
  .circle-bg(none, olivedrab);
}
.circle.spacer {
  background-image: none !important;
}

.character-sheet-wrap {
  width: 52.75em;
  margin: 0 auto;
}
@media only print {
  .character-sheet-wrap>section {
    display: none;
  }
}

.subgrid {
  display: contents;
}

.message {
  padding-left: 1.2em;
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: 625;
}
.message.incomplete {
  color: olivedrab;
}
.message.error {
  color: red;
}

.character-sheet {
  display: grid;
  grid-template-columns: [left] 4fr [three] 3fr [two] 1fr [three] 4fr [right];
  grid-template-rows: 110px auto auto auto auto auto auto 7em auto auto auto;
  gap: .25em;
  padding: 1.5em 3.3em;
  background-image: @pageBgUrl;
  background-color: @pageBgColor;
  background-size: 1224px;
  background-position-x: -120px;
  color: @mainFgColor;
}
.mode-print.print-bw .character-sheet {
  background-image: url(assets/page-bg-bw.webp);
  color: black;
}
.mode-print.print-nobg .character-sheet {
  background-image: none;
  background-color: white;
}


.character-sheet .panel {
  border: @outsideBorder;
  background-color: white;
  vertical-align: top;
}
.mode-print.print-bw .character-sheet .panel {
  border-color: black;
}
.character-sheet .panel>* {
  padding: 0 .5em .25em;
}

.character-sheet button {
  /*position: relative;
  top: 1px;*/
  height: 22px;
  width: 22px;
  border: 1px solid black;
  border-radius: 4px;
  font: bold  18px / 18px sans-serif;
  background-color: black;
  color: white;
}
.character-sheet button.del {
  border-color: firebrick;
  background-color: firebrick;
}
.character-sheet div.add button {
  display: block;
  width: 32px;
  margin: 2px auto;
  border-color: green;
  background-color: green;
}

.character-sheet input[type="text"], .character-sheet input[type="number"] {
  font-size: 12px;
  color: @mainFgColor;
}
.mode-print.print-bw .character-sheet input[type="text"], .mode-print.print-bw .character-sheet input[type="number"] {
  color: black;
}

.character-sheet input[type="text"].large {
  font-size: 15px;
}

.character-sheet input[type="text"].red {
  color: firebrick;
}

.character-sheet h4 {
  padding: .2em 0;
  text-align: center;
  font-size: .84em;
  font-weight: normal;
  text-transform: uppercase;
  background-color: @mainFgColor;
}
.mode-print.print-bw .character-sheet h4 {
  background-color: black;
}
/*.character-sheet h4>* {
  border: @insideBorder;
}*/
/*.character-sheet h4>div {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background-color: @mainFgColor;
}
.character-sheet h4 svg {
  height: 1.8em;
  flex-shrink: 0;
}*/
.character-sheet h4>span {
  background-image: @pageBgUrl;
  /*background-color: @pageBgColor;*/
  background-size: 1224px;
  background-position-x: -120px;
  background-clip: text;
  color: transparent;
}
.mode-print.print-bw .character-sheet h4>span {
  background-image: url(assets/page-bg-bw.webp);
}
.mode-print.print-nobg .character-sheet h4>span {
  background-image: none;
  color: white;
}

.character-sheet h5 {
  font-size: 1.2em;
  font-weight: normal;
  font-family: Joyeuse;
}

.character-sheet .title1 {
  grid-column: left / right;
  padding-top: .25em;
}

.character-sheet .title2 {
  grid-column: left / two;
  padding-top: .25em;
}

.character-sheet .title3 {
  grid-column: two / right;
  padding-top: .25em;
}

.character-sheet .input-value {
  /*height: 1.9em;*/
  padding: 3px 4px;
}

.character-sheet-wrap>section {
  font-family: Poppins, sans-serif;
}
.character-sheet-wrap>section textarea {
  font-family: Consolas, monospace;
}

.character-sheet-wrap section.manage {
  padding: 1.5em 3.3em;
  /*grid-column: left / right;*/
  background-color: dimgray;
  /*font-family: sans-serif;*/
}
.character-sheet-wrap section.manage .flex {
  align-items: revert;
  justify-content: space-between;
}
.character-sheet-wrap section.manage textarea {
  width: 20em;
  word-break: break-all;
}
.character-sheet-wrap section.manage select {
  width: 20em;
}

.character-sheet-wrap section.manage .save-slots {
  display: grid;
  grid-template-columns: auto auto;
  overflow-y: scroll;
  max-height: 146px;
  user-select: none;
}
[name="save-slot"] {
  /*display: contents;*/
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
/*label:has([name="save-slot"]) {
  border: 1px solid black;
}
label:has([name="save-slot"]:checked) {
  background-color: gray;
}
label:has([name="save-slot"]:focus) {
  border-style: dotted;
}
.character-sheet-wrap section.manage .save-slots>div>label {
  display: contents;
}*/
.character-sheet-wrap section.manage .save-slots>div>div {
  padding-bottom: 2px;
}
.save-slots .selected * {
  background-color: gray;
}

.character-sheet-wrap section.config {
  padding: 1.5em 3.3em;
  grid-column: left / right;
  background-color: dimgray;
  /*font-family: sans-serif;*/
}
.character-sheet-wrap section.config input {
  background-color: dimgray;
  color: white;
}
.character-sheet-wrap section.config .fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}
.character-sheet-wrap section.config .advancement .fields {
  grid-template-columns: 1fr 1fr;
}
.character-sheet-wrap section.config>div .wide {
  grid-column: span 3;
}
.character-sheet-wrap section.config input[type="number"] {
  width: 4em;
}

.character-sheet .name-panel {
  grid-column: left / three 1;
  grid-row-end: span 2;
  margin-top: 1.6em;
  margin-right: 1.5em;
  padding-top: 3px;
}

.character-sheet .name-panel>div {
  border-bottom: @insideBorder;
}
.character-sheet .name-panel .input>.value {
  padding-top: 0;
}
.character-sheet .profession-field .input>.value, .character-sheet .adjectives-field .input>.value {
  font-size: 12px;
}
.character-sheet .name-panel>div:last-child {
  border-bottom: none;
}


.character-sheet .logo {
  grid-column: three 1 / three 2;
  height: 110px;
}

.character-sheet .logo {
  margin: 0 auto;
  width: 200px;
  height: 110px;
  background: url('assets/logo.png') center center no-repeat;
}
.mode-print.print-bw .character-sheet .logo {
  background-image: url('assets/logo-bw.png');
}

.character-sheet .portrait-panel {
  grid-column: three 2 / right;
  grid-row-end: span 2;
  margin-top: 1.6em;
  margin-left: 1.5em;
}
.character-sheet .portrait-panel .input {
  font: .8em / 1em sans-serif;
}
.character-sheet .portrait-panel .input input[type="url"] {
  width: 12em;
}
.character-sheet .portrait-panel .flex-column {
  height: 100%;
}
.character-sheet .portrait-panel .flex-column>* {
  flex-shrink: 0;
}
.character-sheet .portrait-panel .flex-column>.portrait {
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  background-size: cover;
}

.character-sheet .drives-panel {
  grid-column: three 1 / three 2;
}
.character-sheet .drives-panel .message {
  margin-bottom: .25em;
}
.character-sheet .drives-panel .input {
  width: 100%;
  min-height: 24px;
  font-size: 12px;
}
/*.character-sheet .drives-panel .flex {
  display: flex;
  align-items: center;
}*/
.character-sheet .drives-panel .flex>* {
  flex-shrink: 0;
}
.character-sheet .drives-panel .flex>:last-child {
  width: 100%;
  flex-shrink: 1;
}

.character-sheet .social-panel {
  grid-column: left / three 1;
  grid-row-end: span 2;
}

.character-sheet .sentinel-panel {
  grid-column: three 1 / three 2;
}

.character-sheet .sorcerer-panel {
  grid-column: three 2 / right;
}

.character-sheet .thief-panel {
  grid-column: three 1 / three 2;
}

.character-sheet .warrior-panel {
  grid-column: three 2 / right;
}

.character-sheet .general-section {
  grid-column: left / two;
  grid-row-end: span 2;
}
.character-sheet .general-section .panel {
  padding-top: .32em;
}
.character-sheet .general-ability {
  height: 26px;
}
.character-sheet .general-section .disabled .ability-name {
  color: silver;
}

.character-sheet .allegiances-section {
  grid-column: two / right;
}
.character-sheet .allegiances-section .panel {
  padding-top: .5em;
}
.character-sheet .allegiances-section .input>div:first-child {
  margin-right: auto;
}
.character-sheet .allegiances-section .input .value {
  font-size: 12px;
}
.character-sheet .allegiances-section .ability-value {
  position: relative;
  top: 0;
}

.character-sheet .wealth-panel {
  grid-column: two / right;
  height: 7em;
  border-top-width: .95em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.character-sheet .wealth-panel input[type="number"] {
  display: block;
  margin: 0 auto;
  width: 6em;
}
.character-sheet .wealth-panel .lifestyle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.character-sheet .wealth-panel .lifestyle .value {
  font-size: 12px;
}
.character-sheet .wealth-panel .lifestyle .ability-value {
  align-self: start;
}

.character-sheet .stamina-section {
  grid-column: left / right;
}
.character-sheet .stamina-section .message:last-child {
  height: 14px;
}
.character-sheet .stamina-section .panel {
  width: 100%;
  flex-shrink: 1;
  margin-right: .25em;
  border-top-width: .5em;
}
.character-sheet .stamina-section .panel.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: space-between;
}
.character-sheet .stamina-section .table {
  display: grid;
  grid-template-columns: 3.5em 3.5em;
  grid-template-rows: .8em 1.8em 1.8em .8em;
  text-align: center;
}
.character-sheet .stamina-section .table .label {
  font-weight: inherit;
  vertical-align: middle;
  font: .5em / 1.7em sans-serif;
  color: black;
}
.character-sheet .stamina-section .table .value {
  border: solid @mainFgColor;
  background-color: white;
}
.mode-print.print-bw .character-sheet .stamina-section .table .value {
  border-color: black;
}
.character-sheet .stamina-section .table input {
  height: 100%;
  width: 80%;
}
.character-sheet .stamina-section .table>:nth-child(3) {
  border-top-left-radius: 10px;
  border-width: 2px 1px 1px 2px;
}
.character-sheet .stamina-section .table>:nth-child(4) {
  border-top-right-radius: 10px;
  border-width: 2px 2px 1px 1px;
}
.character-sheet .stamina-section .table>:nth-child(5) {
  border-bottom-left-radius: 10px;
  border-width: 1px 1px 2px 2px;
}
.character-sheet .stamina-section .table>:nth-child(6) {
  border-bottom-right-radius: 10px;
  border-width: 1px 2px 2px 1px;
}

.character-sheet .gear-panel {
  grid-column: left / two;
  padding-top: .5em;
}
.mode-print .character-sheet .gear-panel {
  min-height: 10.6em;
}
.character-sheet .gear-panel .gear {
  padding: 3px 4px;
  font-size: 12px;
}

.character-sheet .spheres-section {
  grid-column: two / right;
}
.character-sheet .spheres-section input[type="text"] {
  width: 100%;
}
.character-sheet .spheres-section .value {
  height: 2em;
  padding: 3px 4px;
  font-size: 12px;
}

@import url(font.less);
