@import url(reset.less);

@mainFgColor: #6c1f17;
@mainBgColor: #e8dbce;
@pageBgUrl: url(assets/page-bg.webp);
@pageBgColor: #e0d5c5;
@outsideBorder: 2px solid @mainFgColor;
@insideBorder: 1px solid @mainFgColor;

body {
	font-family: Galliard;
  font-size: 15px;
  background-color: black;
  color: white;
}

dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 20em;
  padding: 4px;
  text-align: center;
}
dialog.warn {
  border: 2px solid firebrick;
  border-radius: 7px;
  background-color: #333;
  color: lightgray;
}
dialog.warn button {
  border: 2px solid firebrick;
  /*border-radius: 4;*/
  background-color: black;
  color: lightgray;
}
dialog.warn button.confirm {
  border-color: black;
  background-color: firebrick;
}
dialog .close {
  /*position: fixed;
  top: 0;
  right: 0;*/
  height: 30px;
  text-align: right;
}
dialog .content {
  margin: 0 30px 15px;
}
dialog .content>div {
  margin-bottom: 15px;
}
dialog .content>div:last-child {
  margin-bottom: 0;
}

.invisible {
  visibility: hidden;
}

.flex {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-panel-wrap {
  display: flex;
  flex-direction: column;
}
.flex-panel-wrap>* {
  width: 100%;
  flex-shrink: 0;
}
.flex-panel-wrap>.panel {
  height: 100%;
  flex-shrink: 1;
}

.faux-grid-above {
  margin-bottom: .25em;
}

.faux-grid-below {
  margin-top: .25em;
}

/*.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}*/

.head {
  text-align: center;
}

.label {
  font-weight: bold;
}

.note {
  font-size: .6em;
  color: black;
}

.center {
  text-align: center;
}

.label-tiny {
  font: .6em / 1.25em sans-serif;
  color: black;
}

.label-tiny input[type='radio'] {
  appearance: none;
  height: 6px;
  width: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke-width="1" fill="none" stroke="black" /></svg>');
  margin: 0;
  font: inherit;
  width: 6px;
  height: 6px;
}

.label-tiny input[type='radio']:checked {
  background-image: url('data:image/svg+xml;utf8,<svg width="6" height="6" xmlns="http://www.w3.org/2000/svg"><circle cx="3" cy="3" r="2.5" stroke-width="1" fill="black" stroke="black" /></svg>');
}

.label-tiny>div:first-child:last-child {
  margin-top: .625em;
}

.tiny {
  font-size: .45em;
  font-family: sans-serif;
  color: black;
}

.ability {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.general-ability {
  margin-left: .5em;
}
.ability-value {
  display: flex;
  column-gap: 3px;
  position: relative;
  top: 3px;
}
.ability-value input:first-child {
  display: none;
}
.talent-name {
  position: relative;
  top: 2px;
  margin: 0 auto;
  text-align: center;
  font: .5em / 1.8 sans-serif;
  color: black;
}
.talent-name.disabled, .disabled .talent-name {
  color: silver;
}

.input {
  display: flex;
  align-items: center;
  column-gap: .25em;
}
.input>* {
  flex-shrink: 0;
}
.input>input[type="text"] {
  width: 100%;
  flex-shrink: 1;
}
.input .value {
  width: 100%;
  flex-shrink: 1;
  padding: 3px 4px;
}

.circle {
  height: 14px;
  width: 14px;
  text-align: center;
  font: .5em / 1.85em sans-serif;
  user-select: none;
}
.circle>div {
  height: 100%;
  width: 100%;
}

.character-sheet-wrap {
  width: 52.75em;
  margin: 0 auto;
}

.subgrid {
  display: contents;
}

.message {
  padding-left: 1.2em;
  font-size: 12px;
  font-family: 'Open Sans';
  font-weight: 625;
}
.message.incomplete {
  color: olivedrab;
}
.message.error {
  color: red;
}

.character-sheet {
  display: grid;
  grid-template-columns: [left] 4fr [three] 3fr [two] 1fr [three] 4fr [right];
  grid-template-rows: 110px auto auto auto auto auto auto 7em;
  gap: .25em;
  padding: 1.5em 3.3em;
  background-image: @pageBgUrl;
  background-color: @pageBgColor;
  background-size: 1224px;
  background-position-x: -120px;
  color: @mainFgColor;
}

.character-sheet .panel {
  border: @outsideBorder;
  background-color: white;
  vertical-align: top;
}
.character-sheet .panel>* {
  padding: 0 .5em .25em;
}

.character-sheet button {
  /*position: relative;
  top: 1px;*/
  height: 22px;
  width: 22px;
  border: 1px solid black;
  border-radius: 4px;
  font: bold  18px / 18px sans-serif;
  background-color: black;
  color: white;
}
.character-sheet button.del {
  border-color: firebrick;
  background-color: firebrick;
}
.character-sheet div.add button {
  display: block;
  width: 32px;
  margin: 2px auto;
  border-color: green;
  background-color: green;
}

.character-sheet input[type="text"] {
  font-size: 12px;
  color: @mainFgColor;
}

.character-sheet input[type="text"].large {
  font-size: 15px;
}

.character-sheet h4 {
  padding: .2em 0;
  text-align: center;
  font-size: .84em;
  font-weight: normal;
  text-transform: uppercase;
  background-color: @mainFgColor;
}
/*.character-sheet h4>* {
  border: @insideBorder;
}*/
/*.character-sheet h4>div {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background-color: @mainFgColor;
}
.character-sheet h4 svg {
  height: 1.8em;
  flex-shrink: 0;
}*/
.character-sheet h4>span {
  background-image: @pageBgUrl;
  /*background-color: @pageBgColor;*/
  background-size: 1224px;
  background-position-x: -120px;
  background-clip: text;
  color: transparent;
}

.character-sheet h5 {
  font-size: 1.2em;
  font-weight: normal;
  font-family: Joyeuse;
}

.character-sheet .title1 {
  grid-column: left / right;
  padding-top: .25em;
}

.character-sheet .title2 {
  grid-column: left / two;
  padding-top: .25em;
}

.character-sheet .title3 {
  grid-column: two / right;
  padding-top: .25em;
}

.character-sheet .input>span {
  height: 1.9em;
  padding: 3px 4px;
}

.character-sheet-wrap section.manage {
  padding: 1.5em 3.3em;
  /*grid-column: left / right;*/
  background-color: dimgray;
  font-family: sans-serif;
}
.character-sheet-wrap section.manage .flex {
  align-items: revert;
  justify-content: space-between;
}
.character-sheet-wrap section.manage textarea {
  width: 20em;
  word-break: break-all;
}
.character-sheet-wrap section.manage select {
  width: 20em;
}

.character-sheet-wrap section.manage .save-slots {
  display: grid;
  grid-template-columns: auto auto;
  overflow-y: scroll;
  max-height: 146px;
  user-select: none;
}
.character-sheet-wrap section.manage .save-slots>div>div {
  padding-bottom: 2px;
}
.save-slots .selected * {
  background-color: gray;
}

.character-sheet-wrap section.config {
  padding: 1.5em 3.3em;
  grid-column: left / right;
  background-color: dimgray;
  font-family: sans-serif;
}
.character-sheet-wrap section.config input {
  background-color: dimgray;
  color: white;
}
.character-sheet-wrap section.config .fields {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}
.character-sheet-wrap section.config .advancement .fields {
  grid-template-columns: 1fr 1fr;
}
.character-sheet-wrap section.config>div .wide {
  grid-column: span 3;
}
.character-sheet-wrap section.config input[type="number"] {
  width: 4em;
}

.character-sheet .name-panel {
  grid-column: left / three 1;
  grid-row-end: span 2;
  margin-top: 1.6em;
  margin-right: 1.5em;
}

.character-sheet .name-panel>div {
  border-bottom: @insideBorder;
}
.character-sheet .name-panel>div:last-child {
  border-bottom: none;
}

.character-sheet .logo {
  grid-column: three 1 / three 2;
  height: 110px;
}

.character-sheet .logo img {
  margin: 0 auto;
  width: 200px;
  height: 110px;
}

.character-sheet .portrait-panel {
  grid-column: three 2 / right;
  grid-row-end: span 2;
  margin-top: 1.6em;
  margin-left: 1.5em;
}
.character-sheet .portrait-panel .input {
  font: .8em / 1em sans-serif;
}
.character-sheet .portrait-panel .input input[type="url"] {
  width: 12em;
}
.character-sheet .portrait-panel .flex-column {
  height: 100%;
}
.character-sheet .portrait-panel .flex-column>* {
  flex-shrink: 0;
}
.character-sheet .portrait-panel .flex-column>.portrait {
  height: 100%;
  width: 100%;
  flex-shrink: 1;
  background-size: cover;
}

.character-sheet .drives-panel {
  grid-column: three 1 / three 2;
}
.character-sheet .drives-panel .message {
  margin-bottom: .25em;
}
.character-sheet .drives-panel .input {
  width: 100%;
  min-height: 24px;
  font-size: 12px;
}
/*.character-sheet .drives-panel .flex {
  display: flex;
  align-items: center;
}*/
.character-sheet .drives-panel .flex>* {
  flex-shrink: 0;
}
.character-sheet .drives-panel .flex>:last-child {
  width: 100%;
  flex-shrink: 1;
}

.character-sheet .social-panel {
  grid-column: left / three 1;
  grid-row-end: span 2;
}

.character-sheet .sentinel-panel {
  grid-column: three 1 / three 2;
}

.character-sheet .sorcerer-panel {
  grid-column: three 2 / right;
}

.character-sheet .thief-panel {
  grid-column: three 1 / three 2;
}

.character-sheet .warrior-panel {
  grid-column: three 2 / right;
}

.character-sheet .general-section {
  grid-column: left / two;
  grid-row-end: span 2;
}
.character-sheet .general-section .panel {
  padding-top: .32em;
}
.character-sheet .general-ability {
  height: 26px;
}
.character-sheet .general-section .disabled .ability-name {
  color: silver;
}

.character-sheet .allegiances-section {
  grid-column: two / right;
}
.character-sheet .allegiances-section .panel {
  padding-top: .5em;
}
.character-sheet .allegiances-section .input>div:first-child {
  margin-right: auto;
}
.character-sheet .allegiances-section .ability-value {
  position: relative;
  top: 0;
}

.character-sheet .wealth-panel {
  grid-column: two / right;
  height: 7em;
  border-top-width: .95em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.character-sheet .wealth-panel input[type="number"] {
  display: block;
  margin: 0 auto;
  width: 6em;
}
.character-sheet .wealth-panel .lifestyle {
  display: flex;
  justify-content: space-between;
}

.character-sheet .stamina-section {
  grid-column: left / right;
}
.character-sheet .stamina-section .message:last-child {
  height: 14px;
}
.character-sheet .stamina-section .panel {
  width: 100%;
  flex-shrink: 1;
  margin-right: .25em;
  border-top-width: .5em;
}
.character-sheet .stamina-section .panel.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: space-between;
}
.character-sheet .stamina-section .table {
  display: grid;
  grid-template-columns: 3.5em 3.5em;
  grid-template-rows: .8em 1.8em 1.8em .8em;
  text-align: center;
}
.character-sheet .stamina-section .table .label {
  font-weight: inherit;
  vertical-align: middle;
  font: .5em / 1.7em sans-serif;
  color: black;
}
.character-sheet .stamina-section .table .value {
  border: solid @mainFgColor;
  background-color: white;
}
.character-sheet .stamina-section .table input {
  height: 100%;
  width: 80%;
}
.character-sheet .stamina-section .table>:nth-child(3) {
  border-top-left-radius: 10px;
  border-width: 2px 1px 1px 2px;
}
.character-sheet .stamina-section .table>:nth-child(4) {
  border-top-right-radius: 10px;
  border-width: 2px 2px 1px 1px;
}
.character-sheet .stamina-section .table>:nth-child(5) {
  border-bottom-left-radius: 10px;
  border-width: 1px 1px 2px 2px;
}
.character-sheet .stamina-section .table>:nth-child(6) {
  border-bottom-right-radius: 10px;
  border-width: 1px 2px 2px 1px;
}

.character-sheet .gear-panel {
  grid-column: left / two;
  padding-top: .5em;
}
.character-sheet .gear-panel .gear {
  height: 2em;
  padding: 3px 4px;
  font-size: 12px;
}

.character-sheet .spheres-section {
  grid-column: two / right;
}
.character-sheet .spheres-section input[type="text"] {
  width: 100%;
}
.character-sheet .spheres-section .value {
  height: 2em;
  padding: 3px 4px;
  font-size: 12px;
}

@import url(svg.less);
@import url(font.less);
